<div class="content">
  <div class="selected-tags">
    <%= render 'shared/selected_tags' %>
  </div>

  <div class="top-labels">
    <%= render 'shared/top_labels' %>
  </div>

  <div class="filtered-tags">
    <h3>Search for more labels</h3>
    <div class="filter-form">
      <%= render 'filter_form' %>
    </div>
    <div class="filter-results">
      <div class="badge no-tags-badge">No tags found</div>
    </div>
  </div>

  <div class="issues">
    <%= render 'issues' %>
  </div>
</div>
