<div class="content">
  <div class="selected-tags">
    <%= render 'shared/selected_tags' %>
    <% if params? %>
      <%= link_to '[Remove all tags]', issues_path, class: 'reset-tags-link' %>
    <% end %>
  </div>

  <div class="filtered-tags">
    <h2>Search labels</h2>
    <div class="filter-form">
      <%= render 'filter_form' %>
    </div>
    <div class="filter-results">
      <div class="badge no-tags-badge">No tags found</div>
    </div>
  </div>

  <div class="issues">
    <%= render 'issues' %>
  </div>
</div>
