<div class="content issues">
  <h1>Open Issues <span class="meta">Updated <%= time_ago_in_words(@issues.first.updated_at) %> ago</span></h1>
  <%= will_paginate @issues %>
  <%= render @issues %>
  <%= will_paginate @issues %>
</div>
