<div class="content">
  <div class="selected-tags">
    <%= render 'shared/selected_tags' %>
  </div>
  <div class="filters">
    <div class="top-labels">
      <%= render 'shared/top_labels' %>
    </div>

    <div class="filtered-tags">
      <%= render 'filter_form', filter_id: label_filter_id, title: label_filter_title %>
      <div class="filter-results">
        <div class="badge no-tags-badge">No tags found</div>
      </div>
    </div>
  </div>
  <div class="issues">
    <%= render 'issues' %>
  </div>
</div>
