<% if params['language'] || params['labels'] %>
  <div class="tags">
  <h2>Selected tags</h2>
    <%= selected_language_link %>
    <%= selected_labels_links %>
  </div>
<% else %>
  <div class="tags">
  <h2>Selected tags</h2>
  <div class="badge no-tags-badge">No tags selected</div>
  </div>
<% end %>
