<% if params['language'] || params['labels'] %>
  <div class="tags">
  <h2>Selected tags</h2>
    <%= language_link unless params[:language].nil? %>
    <%= remove_labels_links %>
  </div>
<% else %>
  <div class="tags">
  <h2>Selected tags</h2>
  <div class="badge no-tags-badge">No tags selected</div>
  </div>
<% end %>
