<div class="tags">
  <h3>Selected labels</h3>
  <% if selected_tags? %>
      <%= language_link(is_remote: true) unless params[:language].nil? %>
      <%= selected_labels_links %>
  <% else %>
    <div class="badge no-tags-badge">No tags selected</div>
  <% end %>
</div>
