<div class="content">
  <div class="selected-tags">
    <%= render 'shared/selected_tags' %>
    <%= link_to "See #{pluralize(@number_of_issues, 'issue')}", issues_path(labels: params[:labels], language: params[:language]), class: 'tags-link' %>
    <% if params? %>
      <%= link_to '[Remove all tags]', tags_path, class: 'reset-tags-link' %>
    <% end %>
  </div>

  <%= render 'ajax_buttons' %>
</div>
