<div class="content">
    <h2>All languages</h2>
    <% @languages.each do |language| %>
      <%= language_link(language) %>
    <% end %>

    <h2>All labels</h2>
    <% @labels.each do |label| %>
      <%= label_link(label) %>
    <% end %>
</div>
